@using TranslateVis.DTO
@model List<TranslateVis.DTO.AttendanceStatisticsOutput>
@{
    ViewBag.Title = "评分管理";
    var titles = ViewBag.titles as List<TranslateVis.DTO.AttendanceTitle>;
    var minwidth = (titles.Count + 3) * 65 + 105 * 4;
    var colTotal = titles.Count;
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/layui/layui.all.js"></script>
<script src="~/lib/layui/lay/modules/common.js"></script>
<link href="~/lib/layui/css/layui.css" rel="stylesheet" />
<link href="~/lib/layui/css/modules/laydate/laydate.css" rel="stylesheet" />
<script src="~/lib/layui/lay/modules/laydate.js"></script>
<link href="~/css/scoreIndex.css" rel="stylesheet" />
<link rel="icon" href="~/images/translateVis.png" type="image/x-icon">
<style>
    /*@@media (min-width: 1200px) {
        .container {
            max-width: 1550px;
        }
    }*/
</style>
<body style="min-width:1250px;" id="content">
    @*<div style=" height: 49px; display: inline-block; width: 100%;padding:5px;" class="header" id="header">*@
    <div class="layui-header">
        @using (Html.BeginForm("Index", "Score", new { @class = "layui-form" }))
        {
            <div class="layui-input-inline">
                <label class="layui-form-label">请选择</label>
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="开始" id="starttime" name="starttime" value="@ViewBag.startdate " autocomplete="off">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="结束" id="endtime" name="endtime" value="@ViewBag.enddate" autocomplete="off">
            </div>

            <div class="layui-input-inline">
                @Html.DropDownList("department", ViewBag.groups as SelectList, "--请选择--", new { @class = "layui-select", style = "width:120px;" })
            </div>
            <div class="layui-input-inline">
                <input type="text" name="keyword" placeholder="输入姓名" class="layui-input layui-icon-search" value="@ViewBag.keyword" autocomplete="off">

            </div>
            <div class="layui-input-inline">
                <input type="submit" class="layui-btn layui-btn-warm" value="搜索" />
                <input type="button" class="layui-btn layui-btn-warm" onclick="viewload.exportexcel()" value="导出excel" />
            </div>
        }
    </div>
    <div class="bg" id="list" style="height:calc(100%  - 59px);min-width:1250px;">
        <div class=" clearfix" style="height:calc(100% - 59px);width:100%;top:169px;">
            <div class="table-box">

                <div class="contain">
                    <table class="Block1" cellspacing="0">
                        <tr style="height: 39px;">
                            <th class="" rowspan="2" width="105" style="width:120px"><span title="姓名" class="ant-table-column-sorterN text-elli">姓名</span></th>
                            <th class="" rowspan="2" width="105" style="width:80px"><span title="部门" class="ant-table-column-sorterN text-elli">部门</span></th>
                            <th class="" rowspan="2" width="105" style="width:80px"><span title="是否在职" class="ant-table-column-sorterN text-elli">是否在职</span></th>
                            <th class="" rowspan="2" width="105" style="width:80px"><span title="总分值" class="ant-table-column-sorterN text-elli">总分值</span></th>
                            <th class="" rowspan="2" width="65" style="width:100px"><span title="" class="ant-table-column-sorterN text-elli"><div class="rSpan2" title="应出勤天数(天)"><div class="title text-elli">应出勤天数</div><div class="unit">(天)</div></div></span></th>
                            <th class="" rowspan="2" width="65" style="width:100px"><span title="" class="ant-table-column-sorterN text-elli"><div class="rSpan2" title="实际出勤天数(天)"><div class="title text-elli">实际出勤天数</div><div class="unit">(天)</div></div></span></th>
                            <th class="" rowspan="2" width="65" style="width:80px"><span title="" class="ant-table-column-sorterN text-elli"><div class="rSpan2" title="漏签(次)"><div class="title text-elli">漏签</div><div class="unit">(次)</div></div></span></th>
                        </tr>
                    </table>
                    <table class="Block2" cellspacing="0">
                        <colgroup>
                            @for (var i = 0; i < titles.Count; i++)
                            {
                                <col style="width: 100px; min-width: 100px;">
                            }
                        </colgroup>
                        <tr style="height: 39px;">
                            <th class="" colspan="@colTotal" rowspan="1" width="@colTotal*64"><span title="考勤日历" class="ant-table-column-sorterN text-elli">考勤日历</span></th>
                        </tr>
                        <tr class="min_width" style="height: 39px;">
                            @foreach (var item in titles)
                            {
                                <th class="" rowspan="1"><div class="date" title="@item.AttendanceDate" style="@(item.WeekDay=="日"||item.WeekDay=="六" ? "color:red":"color: rgb(0, 0, 0);")"><div class="weekday text-elli">@item.WeekDay</div><div class="day">@item.Date</div></div></th>
                            }
                        </tr>
                    </table>
                    <table class="Block3" cellspacing="0">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="ant-table-row  ant-table-row-level-0">
                                    <td class="" width="105" stsdata="@item.FullName" style="width:120px"><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span><div class="text-elli">@item.FullName</div></td>
                                    <td class="" width="105" stsdata="@item.Department" style="width:80px"><a title="@item.Department"><div class="text-elli">@item.Department</div></a></td>
                                    <td class="" width="105" stsdata="@item.IsNotIncumbency" style="width:80px"><a title="@(item.IsNotIncumbency?"离职":"在职")"><div class="text-elli">@(item.IsNotIncumbency ? "离职" : "在职")</div></a></td>
                                    <td class="" width="65" stsdata="@item.Score" style="width: 80px"><a title="@item.Score"><div class="text-elli">@item.Score</div></a></td>
                                    <td class="" width="65" stsdata="@item.OnDutyDays" style="width:100px"><a title="@item.OnDutyDays"><div class="text-elli">@item.OnDutyDays</div></a></td>
                                    <td class="" width="65" stsdata="@item.ActualWorkingDays" style="width:100px"><a title="@item.ActualWorkingDays"><div class="text-elli">@item.ActualWorkingDays</div></a></td>
                                    <td class="" width="65" stsdata="@item.MissedCount" style="width:80px"><a title="@item.MissedCount"><div class="text-elli">@item.MissedCount</div></a></td>
                                </tr>

                            }
                    </table>
                    <table class="Block4" cellspacing="0">
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="ant-table-row  ant-table-row-level-0">

                                    @{
                                        WorkingStatistics working = null;
                                        List<int> attendancedTypes = new List<int> { 1, 2 };
                                    }
                                    @if (item.Statistics != null && item.Statistics.Count > 0)
                                    {
                                        for (var i = 0; i < titles.Count; i++)
                                        {
                                            {
                                                working = item.Statistics.FirstOrDefault(x => x.AttendanceDate.Date == titles[i].AttendanceDate.Date);
                                            }
                                            if (working != null)
                                            {
                                                <td class="" width="65" stsdata="@working.AttendanceDate">
                                                    <a title="@working.AttendanceTag" onclick='viewload.layOpenDeatil("@item.UserId","@titles[i].AttendanceDate.ToString("yyyy-MM-dd")","@working.AttendancedId")'>
                                                        @if (working.AttendanceTag == null)
                                                        {
                                                            <div class="text-elli"></div>
                                                        }
                                                        else if (working.AttendancedType == 1)
                                                        {
                                                            <div class="text-elli text-tag">
                                                                <p class="text-tag-b text-tag">
                                                                    @working.ActualType @working.AttendancedScore
                                                                </p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="text-elli"><p>@working.ActualType @working.AttendancedScore</p></div>
                                                        }
                                                    </a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="" width="65" stsdata="">
                                                    <a title="" onclick='viewload.layOpenEdit("@item.UserId","@titles[i].AttendanceDate.ToString("yyyy-MM-dd")",0)'>
                                                        编辑
                                                    </a>
                                                </td>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        for (var i = 0; i < titles.Count; i++)
                                        {
                                            <td class="" width="65" stsdata="">
                                                <a title="" onclick='viewload.layOpenEdit("@item.UserId","@titles[i].AttendanceDate.ToString("yyyy-MM-dd")",0)'>
                                                    编辑
                                                </a>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var index;
    (function () {
        viewload = {
            init: function () {
                viewload.dateconfig();
                //viewload.layuiconfig();
                viewload.loadinganimation();
            },
            loadinganimation: function () {
                $(document).ajaxStart(function () {
                    layui.use(['layer', 'form'], function () {
                        index = layer.load(0, { shade: false });

                        console.log(index);
                    });
                });
                $(document).ajaxComplete(function () {
                    layui.use(['layer', 'form'], function () {
                        var layer = layui.layer;
                        layer.close(index);
                        //调用close方法,关闭全局变量index对应的加载效果
                    });
                });
            },
            exportexcel: function () {
                var startdate = datahelper.formatEnddate($("#starttime").val());
                var enddate = datahelper.formatEnddate( $("#endtime").val());
                var keyword = $("input[name='keyword']").val();
                var department = $("#department").val();
                if (confirm('确定导出？')) location.href = '/Score/ExportExcel?starttime=' + startdate
                         + '&endtime=' + enddate + '&keyword=' + keyword +"&department=" + department;
            },
            dateconfig:function(){
                var nowDate = new Date();
                var startdate = datahelper.formatStartDate("@ViewBag.startdate");
                var enddate = datahelper.formatEnddate("@ViewBag.enddate");

                layui.use('laydate', function () {
                    laydate = layui.laydate;
                  var start =  laydate.render({
                        elem: '#starttime',
                        type: 'date',
                        value: startdate,
                        trigger: 'click',
                        done:function(value,date,endDate){
                            end.config.min={
                                year:date.year,
                                month:date.month-1,
                                date: date.date
                            }
                        }
                    });
                   var end = laydate.render({
                        elem: '#endtime',
                        type: 'date',
                        value: enddate,
                        trigger: 'click',
                        done:function(value,date,endDate){
                            start.config.max = {
                                year:date.year,
                                month:date.month-1,
                                date: date.date
                            }
                        }
                    });
                });
            },
            layuiconfig:function(){
                //$('#parentDep').val(@@department);
                $.ajax({
                    url: '/jbUserManagerSys/DepartmentManager/GetDepTreeFilter',
                    type: "post",
                    success: function (data) {
                        layui.use(['treeSelect', 'form'], function () {
                            var allData = [{ id: -1, name: '全部', IsChecked: 1 }].concat(data);

                            var treeSelect = layui.treeSelect;
                            treeSelect.render({
                                id: 'serachDepartment',
                                elem: '#parentDep',
                                type: 'POST',
                                data: allData,
                                placeholder: '请选择部门',
                                search: false,
                                click: function (d) {
                                    $('#parentDep').val(d.current.id);
                                },
                                success: function (d) {
                                    //设置默认选择节点
                                    //treeSelect.checkNode('parentDep', @@department);
                                }
                            });
                        })
                    },
                    error: function () {

                    }
                })

            },
            layOpenEdit:function(userId,date,id){
                layer.open({
                    type: 2,
                    area: ['540px', '450px'],
                    title: '编辑',
                    closeBtn: 1,
                    shade: 0.6,
                    shadeClose: false,
                    fixed: false,
                    content: "/Score/Edit?userId=" + userId + "&attendanceddate=" + date + "&id=" + id
                });
            },
            layOpenDeatil: function (userId, attdanceDate, attendancedId) {
                var nowDate = new Date();
                var nowtime = nowDate.getFullYear() + "-" + ((nowDate.getMonth() + 1) < 10 ? "0" : "") + (nowDate.getMonth() + 1) + "-" + (nowDate.getDate() < 10 ? "0" : "") + nowDate.getDate();
                var dayDiff = datahelper.getDateDiff(attdanceDate, nowtime, "d");
                if (dayDiff > 4) {
                    layer.open({
                        type: 2,
                        area: ['540px', '450px'],
                        title: '详情',
                        closeBtn: 1,
                        shade: 0.6,
                        shadeClose: false,
                        fixed: false,
                        content: "/Score/Details?attendancedId=" + attendancedId
                    });
                }
                else
                {
                    viewload.layOpenEdit(userId, attdanceDate, attendancedId);
                }
            }
        },
        datahelper = {
            formatStartDate: function (date) {
                var nowDate = new Date();
                if (date == null || date == "" || date == "undefined") return new Date(nowDate.getFullYear(), nowDate.getMonth(), 1);
                return date;
            },
            formatEnddate: function (date) {
                var nowDate = new Date();
                if (date == null || date == "" || date == "undefined") return new Date(nowDate.getFullYear(), nowDate.getMonth()+1,0);
                return date;
            },
            getDateDiff: function (startTime, endTime, diffType) {
                console.log(startTime);
                console.log(endTime);
                startTime = startTime.replace(/-/g, "/");            //将xxxx-xx-xx的时间格式，转换为 xxxx/xx/xx的格式
            endTime = endTime.replace(/-/g, "/");
            //将计算间隔类性字符转换为小写
            diffType = diffType.toLowerCase();
            var sTime = new Date(startTime); //开始时间
            var eTime = new Date(endTime); //结束时间
            //作为除数的数字
            var divNum = 1;
            switch (diffType) {
                case "s":
                    divNum = 1000;
                    break;
                case "m":
                    divNum = 1000 * 60;
                    break;
                case "h":
                    divNum = 1000 * 3600;
                    break;
                case "d":
                    divNum = 1000 * 3600 * 24;
                    break;
                default:
                    break;
            }
            return parseInt((eTime.getTime() - sTime.getTime()) / parseInt(divNum)); //17jquery.com
        }
        }
    }(jQuery))
    viewload.init();
</script>








